{% extends "layout.html" %}

{% block container %}

    <div id="banner">
    	<div id="s-banner">
        <h2>Ne passé pas à côté de la bonnes affaire</h2>
            <p>Chrilow et le bon endroit pour trouver les meilleurs promotions sur des produits des qualités</p>
             
			<div id="bannerForm">
            
            	<form action="" method="">
			<input id="email" type="text" value="Email" name = "email"/><br />
                	<select name="region" id="region">
                    	<option>Alger</option>
                        <option>Blida</option>
                    </select>
                    <input type="submit" value="Aller" id="access-bt" name="send" />
                </form>
                
            </div>      
	</div>
    </div><!-- end of banner--->
    
    
    
    <div id="content">
    
    	<div id="left">
        	<ul>
            	<li class="Tblue">test</li>
                <li>test</li>
            </ul>
        </div><!-- end of left -->
        
        <div id="right">
        	<ul>
            	<li><img src="site_media/images/reneault.jpg" alt="" title="" /></li>
                <li><img src="site_media/images/condor.jpg" alt="" title="" /></li>
                <li><img src="site_media/images/babzouar.jpg" alt="" title="" /></li>
                <li><img src="site_media/images/atr.jpg" alt="" title="" /></li>               
            </ul>
        </div><!-- end of right -->
        
        
    	<div class="ClearBoth"></div>
    </div><!-- end of content -->

{% endblock %}